# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [ ]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

### Connect to the database

In [4]:
# DB_ENDPOINT = "127.0.0.1"
# DB = 'reviews'
# DB_USER = 'student'
# DB_PASSWORD = 'student'
# DB_PORT = '5432'

DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'hynso'
DB_PASSWORD = 'sigeMund67'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://hynso:sigeMund67@127.0.0.1:5432/reviews

In [5]:
%sql $conn_string

'Connected: hynso@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [6]:
%%sql

DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row
(
  customer_id TEXT,
  review_date DATE,
  review_rating INTEGER,
  review_votes INTEGER,
  review_helpful_votes INTEGER,
  product_id CHAR(10),
  product_title TEXT,
  product_sales_rank BIGINT,
  product_group TEXT,
  product_category TEXT,
  product_subcategory TEXT,
  similar_product_ids CHAR(10)[]
);

 * postgresql://hynso:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [7]:
%%sql 

COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://hynso:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [8]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://hynso:***@127.0.0.1:5432/reviews
(psycopg2.errors.DuplicateObject) extension "cstore_fdw" already exists

[SQL: -- load extension first time after install
CREATE EXTENSION cstore_fdw;]
(Background on this error at: http://sqlalche.me/e/f405)

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [12]:
%%sql

-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

-------------
-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://hynso:***@127.0.0.1:5432/reviews
Done.
Done.

[]

In [13]:
# %sql DROP FOREIGN TABLE IF EXISTS customer_reviews;

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [14]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://hynso:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [37]:
%%time
%%sql

SELECT
  AVG(review_rating) AS avg_rating,
  product_title
FROM customer_reviews_row
WHERE 
  review_date >= '1995-01-01'::DATE AND
  review_date <= '1995-12-31'::DATE
GROUP BY product_title
ORDER BY 
  avg_rating DESC,
  product_title ASC
LIMIT 20;

 * postgresql://hynso:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.03 ms, sys: 0 ns, total: 4.03 ms
Wall time: 151 ms

[(Decimal('5.0000000000000000'), '99 Critical Shots in Pool '),
 (Decimal('5.0000000000000000'), "A Beginner's Guide to Constructing the Universe"),
 (Decimal('5.0000000000000000'), 'Accidental Empires'),
 (Decimal('5.0000000000000000'), 'A Civil Action (Vintage)'),
 (Decimal('5.0000000000000000'), "Act Like Nothing's Wrong"),
 (Decimal('5.0000000000000000'), 'Acts of Kindness'),
 (Decimal('5.0000000000000000'), 'A Darkness at Sethanon '),
 (Decimal('5.0000000000000000'), 'A First Course in General Relativity'),
 (Decimal('5.0000000000000000'), "Ain't Nobody's Business If You Do "),
 (Decimal('5.0000000000000000'), 'Albinus on Anatomy'),
 (Decimal('5.0000000000000000'), "Albion's Seed"),
 (Decimal('5.0000000000000000'), 'Alicia Has a Bad Day'),
 (Decimal('5.0000000000000000'), 'Amber Brown Is Not A Crayon (Amber Brown)'),
 (Decimal('5.0000000000000000'), 'Amber Diceless Role-Playing'),
 (Decimal('5.0000000000000000'), "A People's History of the United States"),
 (Decimal('5.0000000000000000'), "A People's History of the United States "),
 (Decimal('5.0000000000000000'), 'A Sea of Words, Third Edition'),
 (Decimal('5.0000000000000000'), 'A Skiff for All Seasons'),
 (Decimal('5.0000000000000000'), 'A Swiftly Tilting Planet'),
 (Decimal('5.0000000000000000'), 'A Swiftly Tilting Planet (Yearling Books)')]

 Then on `customer_reviews_col`:

In [38]:
%%time
%%sql

SELECT
  AVG(review_rating) AS avg_rating,
  product_title
FROM customer_reviews_col
WHERE 
  review_date >= '1995-01-01'::DATE AND
  review_date <= '1995-12-31'::DATE
GROUP BY product_title
ORDER BY 
  avg_rating DESC,
  product_title ASC
LIMIT 20;

 * postgresql://hynso:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 3.15 ms, sys: 0 ns, total: 3.15 ms
Wall time: 8.8 ms

[(Decimal('5.0000000000000000'), '99 Critical Shots in Pool '),
 (Decimal('5.0000000000000000'), "A Beginner's Guide to Constructing the Universe"),
 (Decimal('5.0000000000000000'), 'Accidental Empires'),
 (Decimal('5.0000000000000000'), 'A Civil Action (Vintage)'),
 (Decimal('5.0000000000000000'), "Act Like Nothing's Wrong"),
 (Decimal('5.0000000000000000'), 'Acts of Kindness'),
 (Decimal('5.0000000000000000'), 'A Darkness at Sethanon '),
 (Decimal('5.0000000000000000'), 'A First Course in General Relativity'),
 (Decimal('5.0000000000000000'), "Ain't Nobody's Business If You Do "),
 (Decimal('5.0000000000000000'), 'Albinus on Anatomy'),
 (Decimal('5.0000000000000000'), "Albion's Seed"),
 (Decimal('5.0000000000000000'), 'Alicia Has a Bad Day'),
 (Decimal('5.0000000000000000'), 'Amber Brown Is Not A Crayon (Amber Brown)'),
 (Decimal('5.0000000000000000'), 'Amber Diceless Role-Playing'),
 (Decimal('5.0000000000000000'), "A People's History of the United States"),
 (Decimal('5.0000000000000000'), "A People's History of the United States "),
 (Decimal('5.0000000000000000'), 'A Sea of Words, Third Edition'),
 (Decimal('5.0000000000000000'), 'A Skiff for All Seasons'),
 (Decimal('5.0000000000000000'), 'A Swiftly Tilting Planet'),
 (Decimal('5.0000000000000000'), 'A Swiftly Tilting Planet (Yearling Books)')]

## Conclusion: We can see that the columnar storage is faster!